<div class="page-content">
  <div class="content-area">
    <div class="header">About Us</div>
    <div class="content">
      Welcome to HeritageHub, your ultimate destination for exploring and
      discovering incredible tour places around the world. We are passionate
      about providing a comprehensive and informative tour place dictionary to
      help you plan your next adventure.
    </div>

    <div class="header">Our Mission</div>
    <div class="content">
      At HeritageHub, our mission is to inspire and assist travelers in
      discovering the beauty and diversity of tour places worldwide. We aim to
      be your go-to resource for detailed information, stunning visuals, and
      travel tips that will enhance your overall travel experience.
    </div>

    <div class="header">What We Offer</div>
    <div class="content">
      <ul>
        <li>
          Extensive Tour Place Database: We have curated a vast database of tour
          places, ranging from iconic landmarks to hidden gems. Explore detailed
          information, historical significance, and practical tips for each
          destination.
        </li>

        <li>
          Visual Inspiration: Immerse yourself in the beauty of our carefully
          selected images and visual content. Get a glimpse of the breathtaking
          landscapes, cultural richness, and architectural wonders that await
          you.
        </li>

        <li>
          Travel Guides and Tips: Whether you're a seasoned traveler or planning
          your first trip, our travel guides and tips provide valuable insights,
          recommendations, and practical advice to make your journey
          unforgettable.
        </li>
      </ul>
    </div>

    <div class="header">Meet the Team</div>
    <div class="content">
      <div class="teamMember">
        <div class="team">
          <img src="../../../assets/team/ahmed.jpg" />
          <span class="name">Md Salim Ahmed</span>
          <span class="role">Founder & CEO</span>
          <div class="socialMedia">
            <img src="../../../assets/contactlogo/facebook.png" />
            <img src="../../../assets/contactlogo/linkedin.png" />
            <img src="../../../assets/contactlogo/google.png" />
            <img src="../../../assets/contactlogo/yahoo.png" />
          </div>
        </div>
        <div class="team">
          <img src="../../../assets/team/afsara.jpg" />
          <span class="name">Afsara Tasnim</span>
          <span class="role">Co-founder</span>
          <div class="socialMedia">
            <img src="../../../assets/contactlogo/facebook.png" />
            <img src="../../../assets/contactlogo/linkedin.png" />
            <img src="../../../assets/contactlogo/google.png" />
            <img src="../../../assets/contactlogo/yahoo.png" />
          </div>
        </div>
        <div class="team">
          <img src="../../../assets/team/sanaya.jpg" />
          <span class="name">Sanaya Ahmed</span>
          <span class="role">Photographer</span>
          <div class="socialMedia">
            <img src="../../../assets/contactlogo/facebook.png" />
            <img src="../../../assets/contactlogo/linkedin.png" />
            <img src="../../../assets/contactlogo/google.png" />
            <img src="../../../assets/contactlogo/yahoo.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="header">Contact Us</div>
    <div class="content">
      We would love to hear from you! If you have any questions, suggestions, or
      feedback, please don't hesitate to reach out to us. -
    </div>
    <div class="content">Email: example.com</div>

    <div class="header">Join Our Community</div>
    <div class="content">
      Stay connected with HeritageHub and join our growing community of travel
      enthusiasts. Follow us on social media for the latest updates, travel
      stories, and exclusive content. - [Facebook] - [Twitter] - [Instagram]
    </div>

    <div class="content" style="margin-top: 2rem; margin-bottom: 3rem">
      Thank you for being a part of the HeritageHub journey. Happy exploring!
      HeritageHub Team
    </div>
  </div>
</div>
