<div class="site-footer">
  <div class="content">
    Welcome to HeritageHub, your ultimate destination for exploring and discovering incredible tour places around the world. We are passionate about providing a comprehensive and informative tour place dictionary to help you plan your next adventure. 
  </div>
  <div class="content">
    At HeritageHub, our mission is to inspire and assist travelers in discovering the beauty and diversity of tour places worldwide. We aim to be your go-to resource for detailed information, stunning visuals, and travel tips that will enhance your overall travel experience. 
  </div>
  <div class="content">
    Stay connected with HeritageHub and join our growing community of travel enthusiasts. Follow us on social media for the latest updates, travel stories, and exclusive content. - [Facebook] - [Twitter] - [Instagram]
  </div>
</div>
<div class="site-info">
  ©2021-{{ currentYearLong() }}, HeritageHub, Bangladesh. All rights reserved.
  Powered by HeritageHub.
</div>
